.card {
    border: 1px solid black;
    padding: 1rem;
    position: relative;

    >button {
        position: absolute;
        z-index: 2;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
    }

    &__id {
        opacity: .5;
    }

    &__text {
        display: inline-block;

        ::first-letter {
            text-transform: uppercase;
        }
    }
}