.button {
    background: #fff;
    padding: .125rem;
    border: 1px solid #000;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 2rem;
    cursor: pointer;

    &__green {
        color: green;
    }

    &__red {
        color: red;
    }

    &__blue {
        color: blue
    }

    &_loading {
        >svg {
            animation: 1s infinite rotate;
        }
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}